

.SignBlock {
    position: fixed;
    top:10px;
    left:55%;
    width: 300px;
    height: 200px;
    background-color: rgba(216, 211, 255, 0.478);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 20px;
    border: solid 2px white;
}

input {
    width: 250px;
    margin-left: 15px;
    margin-top: 20px;
    height: 40px;
    background-color: rgba(175, 175, 175, 0.575);
    border-style: none;
    border: 2px white solid;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
}
input:hover {
    background-color: rgb(69, 69, 69);
}

input:focus {
    transform: scale(1.1);
}

input::placeholder {
    color: rgb(43, 43, 43);
    font-weight: 500;
}

.SignInBtn {
    all: unset;
    background-color: rgba(0, 0, 0, 0.556);
    width: 100px;
    height: 50px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30%;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.SignInBtn:hover {
    width: 100px;
    color: white;
    background-color:rgb(0, 0, 0);
    transform:scale(1.1);
}
.SignInBtn:active {
    transform:scale(2);
}