@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');


header {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-bottom: 2px solid rgba(255, 255, 255, 0.649);
    position: sticky;
    top: 0;
    z-index: 1000; 
}

.background {
    background-image: url("./bg.jpg");
    width: 100%;
    height:170px;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
}



.pages_block button {
    /*
    background-image: url("./button.png");
    background-position: center;
    width: 110px;
    height: 40px;
    border-style: solid;
    border-radius: 15px;
    border-top: 0;
    border-color: rgb(155, 155, 155);
    background-color: rgb(70, 70, 70);
    color: rgb(205, 205, 205);
    font-family: "Tinos", sans-serif;
    padding-top: 10px;
    font-size: 25px;
    opacity: 0.8;
    transform: translateY(-10px);
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
    box-shadow:  5px 5px rgba(0, 0, 0, 0.8);
    */
    width: 100px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 800;
    z-index: 2;
    background-color: rgba(46, 14, 14, 0);
    border: none;
    position:relative;
    top: -7px;
}

.pages_block button:hover {
    color: #e4a11c;
    width: 140px;
}


.active {
    /*
    transform: translateY(1px);
    opacity: 0.9;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background-color: rgb(22, 22, 22);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    */

    border-bottom: rgb(255, 255, 255) solid 2px;
}

header img {
    width: 30px;
    height: 30px;
    display:inline;
}

.phone_block {
    width: 170px;
    height: 5px;
    display: flex;
    border-left: solid 1px rgb(255, 255, 255);
    border-right: solid 1px rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    z-index: 2;
    cursor: pointer;
    transition: 0.3s;
}

.phone_block:hover {
    padding-left: 20px;
    padding-right: 20px;
}

.phone_block img {
    transform: translateY(12px);
    padding-right: 10px;
    filter:invert(1);
}

.phone_block p {
    font-weight: 700;
    color: white;
}

.social_block {
    display: flex;
    align-items: center;
    gap: 14px;
}

.social_block img {
    border-right: 1px solid rgb(0, 0, 0);
    padding-right: 16px;
    cursor: pointer;
    filter:invert(1);
    z-index: 2;
    transition: 0.3s;
}
.social_block img:hover {
    padding-right: 25px;
    padding-left: 10px;
}

.social_block img:last-child {
    border-right: none;
    padding-right: 0;
}

.top_block {
    display: flex;
    gap: 800px;
}

.bottom_block {
    display:flex;
    gap:100px;
}

.pages_block {
    font-family: "Oxygen", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    padding-top: 130px;
    display:flex;
    gap: 40px;
    position: relative;
    top: -50px;
}

.marmarlogo {
    position: relative;
    width: 175px;
    height: 175px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    padding-left: 200px;
    top:-50px;
    left: 20px;
}

.buttonSign {
    all: unset;
    width: 50px;
    height: 40px;
    color: rgb(255, 227, 174);
    font-family: "Tinos", sans-serif;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
    z-index: 2;
    padding-right: 20px;

}

.buttonSign:hover {
    width: 65px;
    color:#ffffff;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    font-size:22px;
}

.buttonReg {
    all: unset;
    width: 150px;
    height: 40px;
    color: rgb(255, 227, 174);
    font-family: "Tinos", sans-serif;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
    z-index: 2;
    padding-right: 20px;
}

.buttonReg:hover {
    font-size:22px;
    width: 175px;
    color:#ffffff;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
}

.user_logo {
    margin-left: 300px;
    border-right: 1px solid rgb(0, 0, 0);
    padding-right: 16px;
    cursor: pointer;
    filter:invert(1);
    z-index: 2;
    transition: 0.3s;
    width: 30px;
    height: auto;
}

.user_logo:hover {
    padding-right: 25px;
    padding-left: 10px;
}


.About {
    width: auto;
    padding: 0;
    white-space: nowrap;
    right: 10px;;
}

