@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');



header {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.649);
    position: sticky;
    top: 0;
    z-index: 1000; 
}

.background {
    background-image: url("./bg.jpg");
    width: 100%;
    height:170px;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
}



button {
    background-image: url("./button.png");
    background-position: center;
    width: 110px;
    height: 40px;
    border-style: solid;
    border-radius: 15px;
    border-top: 0;
    border-color: rgb(155, 155, 155);
    background-color: rgb(70, 70, 70);
    color: rgb(205, 205, 205);
    font-family: "Tinos", sans-serif;
    padding-top: 10px;
    font-size: 25px;
    opacity: 0.8;
    transform: translateY(-10px);
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
    box-shadow:  5px 5px rgba(0, 0, 0, 0.8);
}

button:hover {
    transform: translateY(1px);
    opacity: 1;
    color: white;
    border-color: white;
    background-color: rgb(22, 22, 22);
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.5);
}

button:hover {
  background-color: #333;
  color: #eee;
  border-color: #eee;
}


.active {
    transform: translateY(1px);
    opacity: 0.9;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    background-color: rgb(22, 22, 22);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.About, .Contacts {
    width: 130px;
}

.About {
    margin-right: 70px;
}

img {
    width: 30px;
    height: 30px;
    display:inline;
}

.phone_block {
    width: 170px;
    height: 5px;
    display: flex;
    border-left: solid 1px rgb(255, 255, 255);
    border-right: solid 1px rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
}

.phone_block img {
    transform: translateY(12px);
    padding-right: 10px;
    filter:invert(1);
}

.phone_block p {
    padding-top: 15px;
    font-weight: 700;
    color: white;
}

.social_block {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social_block img {
    border-right: 1px solid rgb(0, 0, 0);
    padding-right: 16px;
    cursor: pointer;
    filter:invert(1);
}

.social_block img:last-child {
    border-right: none;
    padding-right: 0;
}

.top_block {
    display: flex;
    gap: 1100px;
}

.bottom_block {
    display:flex;
    gap:150px;
}

.pages_block {
    padding-top: 130px;
    display:flex;
    gap: 20px;
    position: relative;
    top: -50px;
}

.marmarlogo {
    position: relative;
    width: 175px;
    height: 175px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    padding-left: 200px;
    top:-50px;
    left: 20px;
}


